@import 'bootstrap/dist/css/bootstrap';
.navbar-brand {
    font-size: 1.5rem;
}

.navbar {
    background-color: #9c9cb6 !important;
}

html,
body {
    height: 100%;
}

#page-content {
    flex: 1 0 auto;
     background-color: #e2e2f8;
}
