@import 'bootstrap/dist/css/bootstrap';
.navbar-brand {
    font-size: 1.5rem;
}

.navbar {
    background-color: #9c9cb6 !important;
}

html,
body {
    height: 100%;
}

#page-content {
    flex: 1 0 auto;
     background-color: #e2e2f8;
     padding-bottom: 1000px;
}

.search-area {
    padding-top: 50px;
}

.no-right-padding {
    padding-right: 0 !important;
}
.no-left-padding {
    padding-left: 0 !important;
}

.results-block {
    display: inline-block;
}

.custom-table {
    background-color: #473858;
    color: white;
}

.top-space {
    padding-top: 10px;
}